<configuration>
	<connectionStrings>
		<add name="MySqlConn"
			 connectionString="server=localhost;user id=root;password=;database=d35"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8"></compilation>
	</system.web>
</configuration>